@model finalcrud.ViewModel.Membership
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.Label("UserName")<br />
        @Html.EditorFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
    </div>
    <br />
    <div>
        @Html.Label("Password")<br />
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <br />
    <div>
        <input type="submit" value="Save" />
    </div><br />
    @Html.ActionLink("Don't Have account", "Singup");
}
